*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' ,sans-serif;
    color: rgba(97, 97, 97, 1);
}
.container{
    margin: 0 auto;
    max-width: 1384px;
    display: flex;
    flex-wrap: wrap;
}
a{
    all: unset;
}
@mixin card-box($bg-img){
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 18px;
    max-width: 434px;
    border-radius: 8px;
    background: rgba(130, 129, 146, 0.20);
    .card-top{
        background-image:$bg-img;
        width: 398px;
        height: 299px;
        background-size: contain;
    }
    .card-text{
        display: flex;
        gap: 9px;
        h5{
            color: #F5F5F5;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 127.023%;
            p{
                color: #707586;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 127.023%;
            }
        }
    }
}
@mixin text(){
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    h5{
        max-width: 546px;
        color: #F5F5F5;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    p{
        max-width:528px;;
        color: rgba(255, 255, 255, 0.30);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}
@mixin text-top{
    .elp{
        width: 1330px;
        height: 167px;
        background-image: url("img/Ellipse\ 3.png");
        background: linear-gradient(278deg, rgba(255, 156, 84, 0.40) 0%, rgba(255, 255, 255, 0.22) 45.99%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(104.42% 95.46% at 42.78% 42.58%, #621ABE 0%, rgba(36, 33, 75, 0.00) 100%);
        opacity: 0.8399999737739563;
        filter: blur(100px);
    }
    h2{
        position: absolute;
        transform: translate(427px, 47px);
        color: #FFF;
        text-align: center;
        font-size: 58px;
        opacity: 0.3;
        font-style: normal;
        font-weight: 900;
        line-height: 100.5%;
        letter-spacing: 1.16px;
    }
}
body{
    background: #121120;
    header{
        background: url("img/Capture\ d’écran\ 2023-05-25\ à\ 17.14\ 1.png") bottom no-repeat;
        background-size: 100%;
        nav{
            color: rgba(97, 97, 97, 1);
            padding: 20px;
            .container{
                justify-content: space-between;
                .nav-left{
                    display: flex;
                    gap: 28px;
                    align-items: center;
                    a{
                        i{
                            font-size: 24px;
                        }
                    }
                }
                .nav-right{
                    ul{
                        display: flex;
                        list-style: none;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 28px;
                        li:nth-child(4){
                            width: 181px;
                            height: 51px;
                            border-radius: 8px;
                            padding: 16px 20px;
                            background: transparent; 
                        }
                        li:nth-child(4):hover{
                            background: rgba(130, 130, 138, 0.20);
                            color: #fff;
                        }
    
                    }
                }
            }
        }
        section{
            .container{
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                position: relative;
                .hero-top{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h4{
                        color: #fff;
                        text-align: center;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                    .img-box{
                        .crl{
                            max-width: 154px;
                            max-height: 154px;
                            flex-shrink: 0;
                            background: linear-gradient(0deg, rgba(131, 130, 138, 0.20) 0%, rgba(131, 130, 138, 0.00) 100%);
                            border-radius: 50%;
                            padding: 15px;
                           
                        }
                        p{
                            transform: translate(-10px,-23px);
                            text-align: center;
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                }
                .color{
                    top: 155px;
                    position: absolute;
                    max-width:100%;
                }
                .hero-text{
                    padding-top: 100px;
                    h1{
                        max-width: 617px;
                        height: 480px;
                        color: #fff;
                        opacity: 0.3;
                        text-align: center;
                        font-size: 96px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 100.5%; /* 96.48px */
                        letter-spacing: 1.92px;
                    }
                }
            }
        }
    }
    main{
        #logos{
            transform: translate(0px,-35px);
            .container{
                max-width: 960px;
                gap: 88px;
                justify-content: center;
                .text1{
                    @include text()
                }
            }
        }
        #works{
            .container{
                justify-content: space-between;
                max-width: 1334px;
                row-gap: 20px;
                padding-bottom: 180px;
                .card1{
                    @include card-box(url("img/image\ 6344254.png"))
                }
                .card2{
                    @include card-box(url("img/image\ 6344254\ \(1\).png"))
                }
                .card3{
                    @include card-box(url("img/image\ 6344254\ \(2\).png"))
                }
                .card4{
                    @include card-box(url("img/image\ 6344254\ \(3\).png"))
                }
                .card5{
                    @include card-box(url("img/image\ 6344254\ \(4\).png"))
                }
                .card6{
                    @include card-box(url("img/image\ 6344254\ \(5\).png"))
                }
                .card7{
                    @include card-box(url("img/image\ 6344254\ \(6\).png"))
                }
                .card8{
                    @include card-box(url("img/image\ 6344254\ \(7\).png"))
                }
                .card9{
                    @include card-box(url("img/image\ 6344254\ \(8\).png"))
                }
            }
        }
        #XP-block{
            .container{
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                gap: 72px;
                .text-top1{
                    @include text-top()
                }
                .text2{
                    @include text()
                }
                .cards-box{
                    display: flex;
                    gap: 8px;
                    flex-wrap: wrap;
                    .card{
                        max-width: 191px;
                        max-height: 208px;
                        flex-shrink: 0;
                        padding: 21px;
                        border-radius: 8px;
                        background: rgba(131, 130, 138, 0.20);
                        backdrop-filter: blur(3.5px);
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        align-items: center;
                      p{
                        color: #757575;
                        text-align: center;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                      }
                      .img{
                        width: 63px;
                        height: 63px;
                        flex-shrink: 0;
                        background: linear-gradient(0deg, rgba(131, 130, 138, 0.20) 0%, rgba(131, 130, 138, 0.00) 100%);
                        padding: 5px;
                        border-radius: 50%;
                      }
                      h4{
                        width: 145px;
                        color: #F5F5F5;
                        text-align: center;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                      }
                      a{
                        width: 123px;
                        color: #0067F6;
                        text-align: center;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                      }
                    }
                }
            }
        }
        #review{
            padding: 141px 0 141px 0;
            .container{
                max-width: 1567px;
                display: flex;
                gap: 23px;
                .card{
                    width: 507px;
                    height: 434px;
                    flex-shrink: 0;
                    border-radius: 8px;
                    border: 1px solid #D00;
                    background: #292835;
                    background-image: url("img/Unioncard.png");
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 24px;
                    padding: 32px;
                    .img{
                        width: 79px;
                        height: 79px;
                        flex-shrink: 0;
                        background: linear-gradient(0deg, rgba(131, 130, 138, 0.20) 0%, rgba(131, 130, 138, 0.00) 100%);
                        padding: 1px;
                        border-radius: 50%;
                    }
                    .a1{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h4{
                            width: 103.5px;
                            color: #FFF;
                            text-align: center;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            text-align: center;
                        }
                        h5{
                            width: 221.5px;
                            color: #9E9E9E;
                            text-align: center;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            b{
                                color: #0067F6;
                            }
                        }
                        p{
                            width: 445px;
                            color: #EEE;
                            text-align: center;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px;
                        }

                    }
                }
            }
        }
    }
}